<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Project</title>
  </head>
  <body>
    <h1>Hello</h1>
    <!-- send code to node.js -->
    <!-- <% console.log("Hello there") %> -->
   
    <!-- safe print to html -->
    <%= (5+9)  %>

    <!-- direkt print html -->
    <%- ` <p>5+9</p>`  %>
    <p>5+9 = <%= (5+9)  %> </p>
     
    <!-- comment with ejs -->
    <%# comment  %>

  </body>
</html>
